*.iml
.backup
.DS_Store
.gradle
.idea/
/build
/captures
/local.properties
build/
*.apk
debug/
doc/log
doc/tombstones
TaintingCompiler.iml
app/src/main/obj
app/src/main/assets/dex2oat
app/src/main/libs
libs/
src/main/assets/artist/android-21/lib/
src/main/assets/artist/android-22/lib/
src/main/assets/artist/android-23/lib/
src/main/assets/artist/android-24/lib/
src/main/assets/artist/android-25/lib/
src/main/assets/artist/android-26/lib/
src/main/assets/artist/android-27/lib/
src/main/assets/artist/android-28/lib/
src/main/assets/artist/android-21/dex2oat
src/main/assets/artist/android-22/dex2oat
src/main/assets/artist/android-23/dex2oat
src/main/assets/artist/android-24/dex2oat
src/main/assets/artist/android-25/dex2oat
src/main/assets/artist/android-26/dex2oat
src/main/assets/artist/android-27/dex2oat
src/main/assets/artist/android-28/dex2oat
gradle.properties

# version numbers for debugging
app/src/main/assets/VERSION_ARTISTGUI.md
app/src/main/assets/VERSION_ARTIST-android-*.md
